.heading{
  text-align: center;
  align-items: center;
}

.body-cnt{
  display: flex;
  justify-content: center;
}

.main .status-pass {
  color: green !important;
}

.main .status-fail {
  color: red !important;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;  
}

.body-content{
  display: flex;
  justify-content: center;
  align-items: center;

}