.heading {
  text-align: center;
  align-items: center;
}

.body-cnt {
  display: flex;
  justify-content: center;
}

.main .status-pass {
  color: green !important;
}

.main .status-fail {
  color: red !important;
}


/* ############# userform ############*/


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.body-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 124, 111);
  padding: 30px;
  width: 40%;

}
.label-field{
  font-weight: 800;
  padding-right: 20px;
}
.input-field {
  padding: 10px;
  width: 90%;
  border: 2px solid black;
  border-radius: 4px;
}

.error{
  color: rgb(153, 17, 17);
}

.submitbtn{
  background-color: rgb(139, 135, 135);
  border: 2px solid black;
  padding: 5px;
}