body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #333;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#header h1 {
    font-size: 28px;
    margin: 0;
}

#createButton {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#createButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

table {
    width: 95%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

td {
    background-color: white;
    color: #555;
}

td button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

td button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#Pass {
    color: #28a745;
    font-weight: bold;
}

#Fail {
    color: #dc3545;
    font-weight: bold;
}

#error{
    color: red;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    font-size: 16px;
}

#pagination button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#pagination button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#pagination p {
    font-size: 16px;
    margin: 0;
}

